div#footerlogo{
	margin-left: 25%;
	position : absolute;
}
div#footimg{
	margin-top:1%;
	border : 1px solid black;
	margin-left : 44.7%;
	width : 50px;
	height : 50px;
	float : left;
}
div#bottombox {
	width: 100%;
	border-radius: 10px;
	text-align: center;
	bottom: 0;
	height: 150px;
	border: 1px solid black;
}