hr#p{
	border: inset 5px rgb(234,206,231);
}
hr#g{
	border: inset 2px rgb(228,228,228);
	margin-left: 0.2%;
	width: 91%;
}
input.search {
	width: 60%;
	margin : auto;
	border: 4px inset rgb(234,206,231); 
}
ul.blacktext{
	background-color : rgb(228,228,228);	
}
.left {
	float: left;
}
.right-top {
	width: 335px;
	margin-left: 65%;
	height: 30px;
}
div.logobox {
	width : 100%;
	border-radius: 10px;
	text-align: center;
	height : 90px;
	border : 1px solid white;
}
div#img1{
	margin-top: 1%;
	margin-left : 41%;
	width : 60px;
	height : 100%;
	float : left;
}
img.left {
	float: left;
}
div#right-top {
	width: 335px;
	margin-left: 65%;
	height: 30px;
}
a>h1{
	margin-left : 45%;
	margin-top : 30px;
	position : absolute;
}
