<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yeoinsu.bookstore.member.login.dao.mapper.LoginMapper">
	<insert id="addUser" parameterType="member">
		insert into users values (#{userId}, #{userPw}, #{userName}, #{userAnswer})
	</insert>
	
	<select id="getLoginInfo" parameterType="string" resultType="member">
		select user_id userId, user_pw userPw, user_name userName, user_answer userAnswer from users where user_id = #{userId}
	</select>
	
	<update id="updateUser"  parameterType="Member">
		update users set user_pw=#{userPw}, user_answer=#{userAnswer} where user_id=#{userId}
	</update>
	
	<select id="getFindId" parameterType="member" resultType="member">
		select user_id userId, user_pw userPw, user_name userName, user_answer userAnswer from users where user_name = #{userName} and user_answer = #{userAnswer}
	</select>
	
	<select id="getFindPwd" parameterType="member" resultType="member">
		select user_id userId, user_pw userPw, user_name userName, user_answer userAnswer from users where user_name = #{userName} and user_id = #{userId} and user_answer = #{userAnswer}
	</select>
	
	<update id="updatePwd" parameterType="member" >
		update users set user_pw = #{userPw} where user_id = #{userId}
	</update>
</mapper>

